.contact {
    margin-top: 4rem;
    background-color: #F4F0C6;
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.bg__form {
    @include from__bottom (1.5s);
    background-color: #e9e18e;
    padding: 4rem;
    border-radius: 60px 5px 60px 5px;
    box-shadow: 1px -1px 81px -18px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px -1px 81px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px -1px 81px -18px rgba(0,0,0,0.75);
}